# docker ignore folders
.vscode/**/*
.vscode
assets/**/*
assets
dB/**/*
dB
fixtures/**/*
fixtures
migrations/**/*
migrations
node_modules
obj/**/*
obj
simpris/__init__.py
simpris/settings/dev_mac.py
simpris/settings/dev_pc.py
simpris/settings/live_linux.py
simpris/settings/test_mac.py
simpris/settings/test_pc.py
tests/**/*
tests
tests-unit/**/*
tests-unit
theme/**/*
theme
utils/**/*
utils
venv/**/*
venv
# ignore files
.gitignore
db.sqlite3
deploy.ps1
docker-tips.md
gulpfile.js
pip3
simpricity_unit_test.db
simpricity.db
simpris.pyproj
simpris.code-workspace
simpris.sln
web.config
web.debug.config