<div class="grid-flex">
    <div class="col-md-6">
        <h3>Registration complete!</h3>
        <p class="bg-info">
            Thank you - you are now ready to begin using Simpris.
        </p>
        <p class="bg-info">
            Before you use the system try the help pages which you will see at the top right of the menu when you log in. These help pages explain the concepts behind Simpris and how to get the best out of the system.
        </p>
        <p class="bg-info">
            Be aware that Simpris uses and requires cookies to be able to work - make sure these are enabled on your browser. These cookies are only used to keep track of your status in Simpris and never to gather any other information.
        </p>
        <br>
        <a href="{{ BASE_URL_DJ }}/auth/logon">Log in with your email and password.</a>
    </div>
</div>