{% extends 'base.html' %}
{% block 'head-css' %}
{% endblock %}
{% block 'head-js' %}
    <script src="/static/js/ideas/demos/demo3/bundle.js"></script>
{% endblock %}
{% block 'content-heading' %}
    <h3>Ideas Management3</h3>
    <a href="/ideas/index">0</a>
    <a href="/ideas/index1">1</a>
    <a href="/ideas/index2">2</a>
    <a href="/ideas/index3">3</a>
    <a href="/ideas/index4">4</a>
    <a href="/ideas/index5">5</a>
{% endblock %}
{% block 'content' %}
    <div id='root'>

    </div>
{% endblock %}
{% block 'end-js' %}
{% endblock %}